<a href="https://colab.research.google.com/github/ASWINSURESH666/Python-Basics-lab/blob/main/Raptor_to_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Given number is -ve or +ve or zero

x=int(input
  ("enter a number: "))
if x==0:
  print(x, "is zero")
elif x>0:
  print(x, "is positive number")
else: 
    print(x, "is negative")

enter a number: 23
23 is positive number

In [ ]:
#Average of three numbers

num1=float(input("enter the first number= "))
num2=float(input("enter the second number= "))
num3=float(input("enter the third number= "))
average=(num1+num2+num3)/3
print("average of three numbers is= ",average)

enter the first number= 28
enter the second number= 26
enter the third number= 36
average of three numbers is=  30.0

In [ ]:
# Area and Perimeter Of Triangle

side1 = int(input("enter side1 "))
side2 = int(input("enter side2 "))
side3 = int(input("enter side3 "))
perimeter=side1+side2+side3
s=(side1+side2+side3)/2
Area = (s*(s-side1)*(s-side2)*(s-side3))
print("The Area of triangle is ",Area)
print("The perimeter of triangle is ",perimeter)

enter side1 20
enter side2 40
enter side3 44
The Area of triangle is  159744.0
The perimeter of triangle is  104

In [ ]:
# Print the Area of a Circle
radius=int(input("radius of circle "))
area=3.14*radius*radius
print("Area of circle is ",area)

radius of circle 10
Area of circle is  314.0

In [ ]:
# smallest of 3 numbers
num1=int(input("enter first number "))
num2=int(input("enter second number "))
num3=int(input("enter third number "))
if num1<num2 and num1<num3:
  print("num1 is smallest",num1)
elif num2<num1 and num2<num3:
  print("num2 is smallest",num2)
else:
  print("num3 is smallest",num3)

enter first number 40
enter second number 20
enter third number 10
num3 is smallest 10

In [ ]:
# check whether a number is a multiple of another

divident=int(input("enter the first number "))
divisor=int(input("enter the multiple number"))
if divident%divisor==0:
  print(str(divident)+" is a multiple of "+str(divisor))
else:
    print(str(divident)+" is not a multiple of "+str(divisor))

enter the first number 20
enter the multiple number3
20 is not a multiple of 3

In [ ]:
# smallest digit in a two digit number

num=int(input("enter a two digit number "))
digit1=num%10
digit2=num//10
if digit1>digit2:
  print(digit2," is the smallest digit in ",num)
elif digit1==digit2:
    print("Both digits are same")
else:
      print(digit1," is the smallest digit in ",num)

enter a two digit number 87
7  is the smallest digit in  87

In [ ]:
# nature of solution of a quadratic equation

a=float(input("enter the coefficient of x^2 "))
b=float(input("enter the coefficient of x "))
c=float(input("enter the constant term "))
d=b*b-4*a*c
if d==0:
 print("real and equal roots")
elif d>0:
  print("real and unequal")
else:
    print("imaginary roots")

enter the coefficient of x^2 11
enter the coefficient of x 15
enter the constant term 2
real and unequal

In [ ]:
# number is two digit or not

num=float(input("enter any number"))
if num>=10 or num<=99:
  print(num," is a two digit number ")
else:
    print(num," is not a two digit number ")

enter any number24
24.0  is a two digit number

In [ ]:
# Sum and Average of Three Numbers

num1=float(input("enter the first number "))
num2=float(input("enter the second number "))
num3=float(input("enter the third number "))
sum=num1+num2+num3
average=(num1+num2+num3)/2
print("sum of three number ",sum)
print("average of three number ",average)

enter the first number 2
enter the second number 4
enter the third number 6
sum of three number  12.0
average of three number  6.0

In [ ]:
# Time Entered in Seconds to Hours , Minutes , Seconds

second=int(input("enter the time "))
ss=second%60
mm=second//60
hh=mm//60
mm=mm%60
print(hh,":",mm,":",ss)

enter the time 8900
2 : 28 : 20

In [ ]:
# two Unequal Number and Interchange them without using a Third Variable

a=int(input("Enter A= "))
b=int(input("Enter B= "))
a=a+b
b=a-b
a=a-b
print("A is ",a)
print("B is ",b)

Enter A= 7
Enter B= 80
A is  80
B is  7

In [ ]:
# the Number of Days and display into Years, Months and Days
days=int(input("Enter days= "))
dd=days%365
mm=days//30
yy=mm//12
mm=mm%12
print(yy,":",mm,":",dd)

Enter days= 760
2 : 1 : 30

In [ ]:
# the biggest of two numbers
num1=int(input("enter first number "))
num2=int(input("enter second number "))
if num1>num2:
  print(num1," is bigger than ",num2)
else:
  print(num2," is bigger than ",num1)

enter first number 78
enter second number 90
90  is bigger than  78

In [ ]:
# the distance between two points on a number line

position1=float(input("Enter the initial point "))
position2=float(input("Enter the final point "))
length=position2-position1
if length<0:
  length=length*-1
print("distance is ",length)

Enter the initial point 23
Enter the final point 4
distance is  19.0

In [ ]:
# sum of first N natural numbers

limit=int(input("Enter the number to which you want the sum "))
sum=0
for i in range(1,limit+1):
 sum=sum+i
print(sum)

Enter the number to which you want the sum 45
1035

In [ ]:
# the sum of the factors of a number

num=int(input("Enter a number "))
sum=0
for i in range(1,num+1):
  if num%i==0:
    sum=sum+i
print(sum)

Enter a number 10
18

In [ ]:
# N terms of an arithmetic sequence

a=int(input("enter the first number "))
d=int(input("enter the common difference "))
limit=int(input("enter the limit "))
for i in range(limit):
  sequence=a+(i*d)
  print(sequence,end=" , ")

enter the first number 2
enter the common difference 4
enter the limit 20
2 , 6 , 10 , 14 , 18 , 22 , 26 , 30 , 34 , 38 , 42 , 46 , 50 , 54 , 58 , 62 , 66 , 70 , 74 , 78 ,

In [ ]:
# n terms of the Fibonacci series

limit=int(input("enter the limit to which you want the series "))
firstterm=0
secondterm=1
print(firstterm)
print(secondterm)
for i in range(3,limit+1):
  print(firstterm+secondterm)
  temp=firstterm
  firstterm=secondterm
  secondterm=temp+secondterm

enter the limit to which you want the series 8
0
1
1
2
3
5
8
13

In [ ]:
# factorial of a given number

lower=int(input("enter the lower number "))
upper=int(input("enter the upper number "))
for i in range(lower+1,upper):
  print(i*i,end=" , ")

enter the lower number 4
enter the upper number 8
25 , 36 , 49 ,

In [ ]:
# a given number is Automorphic or not

num = int(input("Enter the num "))
numcopy = num
numcopy2 = num
length = 0
while numcopy>0:
  numcopy = numcopy//10
  length = length + 1
result = pow(num,2)
last_digit = result % pow(10,length)
if last_digit == num:
  print("It is an automorphic number")
else:
  print("It is not an automorphic number")

Enter the num 5
It is an automorphic number

In [ ]:
# read a binary number and print its decimal equivalent.

binary_number = int(input("Enter the binary number "))
binary_number_copy = binary_number
length = 0
decimal = 0
while binary_number_copy>0:
  binary_number_copy = binary_number_copy//10
  length = length + 1


for i in range(length):
    remainder = binary_number%10
    binary_number = binary_number//10
    decimal = decimal + remainder*pow(2,i)

print(decimal)

Enter the binary number 1515515
307

In [ ]:
# sum of the given series, up to n terms. S = 1 - 4 + 9 - 16 + ....

num=int(input("enter the number of terms "))
sum=0
for i in range(1,num+1):
  i=i*i
  if i%2==0:
    i=i*(-1)
    sum=sum+1
print(sum)

enter the number of terms 10
5

In [ ]:
# GCD of 2 numbers

num1 = int(input("Enter the largest number "))
num2 = int(input("Enter the smallest number "))
if num1%num2==0:
  print("GCD is "+str(num2))
else:
  while num2!=0:
    remainder = num1%num2
    num1 = num2
    num2 = remainder
if num2==0:
  print("GCD is "+str(num1))

Enter the largest number 78
Enter the smallest number 21
GCD is 3

In [ ]:
# reverse of a given number.

num=int(input("Enter the number you want to reverse "))
numcopy=num
length=0
reverse=0

while num>0:
  num=num//10
  length=length+1

while numcopy>0:
  length=length-1
  rem=numcopy%10
  reverse=reverse+rem*pow(10,length)
  numcopy=numcopy//10

print("The Reverse of the Number is "+str(reverse))

Enter the number you want to reverse 74775
The Reverse of the Number is 57747

In [ ]:
# a number is palindrome or not

num=int(input("Enter the number you want to check "))
numcopy1=num
numcopy2=num
length=0
reverse=0

while numcopy1>0:
  numcopy1=numcopy1//10
  length=length+1

while numcopy2>0:
  length=length-1
  rem=numcopy2%10
  reverse=reverse+rem*pow(10,length)
  numcopy2=numcopy2//10

print(reverse)
if(reverse==num):
  print("It is  a paliandrome")
else:
  print("It is not a paliandrome")

Enter the number you want to check 2456542
2456542
It is  a paliandrome

In [ ]:
# a number is Armstrong or not

num=int(input("enter the number "))
numcopy1=num
numcopy2=num
length=0
armstrong=0
while numcopy1>0:
  numcopy1=numcopy1//10
  length=length+1
while numcopy2>0:
  rem=numcopy2%10
  armstrong=armstrong+pow(rem,length)
  numcopy2=numcopy2//10
if armstrong==num:
  print("it is armstrong ")
else:
  print("it is not armstrong")

enter the number 153
it is armstrong

In [ ]:
# evaluate x^n

base=int(input("enter the base "))
power=int(input("enter the power "))
result=1
while  power>0:
  result=result*base
  power=power-1
  print(result)

enter the base 4
enter the power 8
4
16
64
256
1024
4096
16384
65536

In [ ]:
# first n odd number

limit=int(input("enter the limit "))
for i in range(1,2*limit,2):
  print(i, end=",")

enter the limit 12
1,3,5,7,9,11,13,15,17,19,21,23,

In [ ]:
# Sum, Difference, Product, Quotient and Remainder of two Unequal Numbers

num1=float(input("enter the first number "))
num2=float(input("enter the second number "))
sum=num1+num2
difference=num1-num2
product=num1*num2
quotient=num1//num2
remainder=num1%num2
print("the sum of numbers is ",sum)
print("the difference of numbers is ",difference)
print("the product of numbers is ",product)
print("the quotient of numbers is ",quotient)
print("the remainder of numbers is ",remainder)

enter the first number 10
enter the second number 2
the sum of numbers is  12.0
the difference of numbers is  8.0
the product of numbers is  20.0
the quotient of numbers is  5.0
the remainder of numbers is  0.0